/* 
    Document   : qmgr.css
    Created on : Dec 03, 2013
    Author     : mertale
    Description:
        Purpose of the stylesheet follows.
*/

/*
  position: relative; left : 0px; top : 0px; 
  */

.event-all
{ 
  float: left;
  width  : 100%;
  background-color:  #aaaaaa;
/*  border-bottom : 1px solid #000000;  */
  border : 1px solid #000000; 
  clear:both;
}

.event
{
  float : left;
  width: fit-content; height: fit-content ;
  margin:   1px; 
  margin-left:   10px; padding : 0px;
  background-color:  #999 ;
  border : 1px solid #a10000; 
  font-size: x-small ;
}

div.event-reason
{
  float : left;
  display: inline-block;
}

table.event-reason
{
  padding : 0px;
  margin : 0px;
}

td.event-reason
{
  padding : 0px;
  margin  : 0px;
  min-width: 120px;
  vertical-align: top ;
}

button.event-reason
{
  font-size: xx-small ;
  background: #800;
}

div.event-detail
{
  float : left;
  display: inline-block;
}

table.event-detail
{
  padding : 0px;
  margin : 0px;
  min-width: 100px;
  border-spacing: 0.1em;
}

tr.event-detail
{
  margin : 0px;
  padding : 0px;
  border : 0.01em solid #444;
}

td.event-detail
{
  margin : 0px;
  padding : 0px;
  vertical-align: top ;
}

td.event-time
{
  margin : 0px;
  padding : 0px;
  width: 60px;
}

div.event-empty
{
  width: max-content ;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #aaffaa;
  background-color: #cccccc;
}