/* 
    Document   : qmgr.css
    Created on : Dec 03, 2013
    Author     : mertale
    Description:
        Purpose of the stylesheet follows.
*/

* { margin : 0px; padding: 0px;}

div.qmgr-all
{
  position: relative; left : 0px; top : 0px; 
  width: fit-content; height: fit-content ;
  margin : 2px; padding : 0px;
  background-color:  #dddddd;
  border : 1px solid #000000; 
  clear:both;
}

a.qmgr
{
  text-decoration: none;
  clear:both;
  display : block ;
}

div.qmgr
{
  display: inline-block ;
  width :  calc( 100% - 2px - 200px ) ;
  float: left  ;
}

img.qmgr
{
  height : 10px ; 
  border : none ;
  margin-left  : 4px;
  margin-right : 8px;
}

div.qmgr-inactive
{ 
  width: 100%;
  display: inline-block;
  background-color:  #ddddcf;
  border : 1px solid #000000; 
  clear:both;
}

div.qmgr-active
{ 
  width: 100%;
  display: inline-block;
  background-color:  #aaaaaa;
  border : 1px solid #000000; 
  clear:both;
}

.qmgr-age
{
  display: inline-block;
  width: 200px;
  float: right ;
  font-size: xx-small;
  vertical-align: top;
  height: 100%;
  border-spacing: 10px 0px;
}

