/* 
    Document   : qmgr.css
    Created on : Dec 03, 2013
    Author     : mertale
    Description:
        Purpose of the stylesheet follows.
*/

* { margin : 0px; padding: 0px;}

div.qmgr
{
  position: relative; left : 3px; top : 3px; 
  width: 80px; height: fit-content ;
  margin : 2px; padding : 0px;
  background-color:  #dddddd;
  border : 1px solid #000000; 
  clear:both;
}


div.qmgr-inactive
{ 
  width  : 100%;
  background-color:  #ddddcf;
/*  border-bottom : 1px solid #000000;  */
  border : 1px solid #000000; 
  clear:both;
}

img.qmgr
{
  height : 10px ; width : auto;
  border : none ;
  margin-left  : 4px;
  margin-right : 8px;
}
