/* 
    Document   : qmgr.css
    Created on : Dec 03, 2013
    Author     : mertale
    Description:
        Purpose of the stylesheet follows.
*/

* { margin : 0px; padding: 0px;}

div.qmgr-all
{
  position: relative; left : 0px; top : 0px; 
  width: fit-content; height: fit-content ;
  margin : 2px; padding : 0px;
  background-color:  #dddddd;
  border : 1px solid #000000; 
  clear:both;
}

div.qmgr
{
  width: 100%;
}

a.qmgr
{
  text-decoration: none;
}

img.qmgr
{
  height : 10px ; width : auto;
  border : none ;
  margin-left  : 4px;
  margin-right : 8px;
}

div.qmgr-inactive
{ 
  display: inline-block;
  background-color:  #ddddcf;
/*  border-bottom : 1px solid #000000;  */
  border : 1px solid #000000; 
  clear:both;
}

div.qmgr-active
{ 
  display: inline-block;
  float: left;
  width  : 100%;
  background-color:  #aaaaaa;
/*  border-bottom : 1px solid #000000;  */
  border : 1px solid #000000; 
  clear:both;
}

div.qmgr-age
{
  display: inline-block;
  float: right;
}
